@font-face{
    font-family:"Cuprum-Regular";src:url(../css/Cuprum-Regular.ttf)
}
form{
    min-width: 400px;
    min-height: 230px;
    float: left;
    margin-left:20px;
}
input{
    display: inline-block;
    margin: 10px;
    margin: 0px auto;
    padding-left:6px;
}
.new_dish{
    margin: 0px auto;
    margin-left: 30px;
    padding-left:6px;
}
.day{
    margin: 15px 0 10px 60px;
}
.add{
    margin: 10px 0 0px 20px;
}
.sox{
     margin: 10px 0 0px 60px;
}
.prices{
    display: block;
}
lable{
    padding-left: 6px;
    color:grey;
    font-family:"Cuprum-Regular";
}
.dish{
    float: left;
    width: 185px;
    height: 230px;
    margin-left: 40px;
    padding: 10px;
    border-radius:10px;
    background: #F0FFF0;
    border: 1px solid silver;
}
.dish-rezult{
    text-align: center;
    color:grey;
    font-family:"Cuprum-Regular";
}
.price{
    float: left;
    width: 200px;
    height: 230px;
    margin-left: 40px;
    padding: 10px;
    border-radius:10px;
    background:#FAFAD2;
    margin-bottom: 40px;
    border: 1px solid silver;
}
.price-rezult{
    text-align: center;
    color:grey;
    font-family:"Cuprum-Regular";
}
.submit{
    width: 300px;
    margin-left:140px;
}
select{
    float: left;
}
.itog{
    font-size: 26px;
    color:red;
}
.quantity{
    float: right;
}
.new_blud{
    background:#DDA0DD;
}
.newB{
  position: absolute;
    top:330px;
    left: 145px;
}
.Menu{
    position: absolute;
    top:360px;
    left: 195px;
}
