body{
    max-width: 1300px;
	min-width: 768px;
    margin: 0 auto;
}

container{
    max-width: 1300px;
	min-width: 768px;
    margin: 0 auto;
}
header{
    width:100%;
    height: 690px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    position: relative;
}
.logo-menu{
    width: 100%;
    height: 80px;
    text-transform: uppercase;
}
.logo{
    float:left;
    margin: 0px 30px;
    font-size: 28px;
    color:white;
}
nav{
    float:right;
    text-align: right;
    width: 70%;
    text-transform: uppercase;
    margin-top: 30px;
    margin-right: 10px;
}
nav>a{
    font-size: 14px;
    color:white;
    padding: 5px;
    text-decoration: none;
}

.content{
    width: 100%;
    height: 200px;
    margin-top: 130px;
    text-align: center;
    position: relative;
}
.your_next_product{
    font-size: 35px;
    line-height:5px;
    color:white;
}
.signup_now{
    font-size:18px;
    color:white;
    line-height:5px
}
.btn_copy{
    width: 250px;
    margin: 0px auto;
    background-color:#fed45c;
    border-radius: 50px; 
    font-size: 14px; 
    text-transform: uppercase;
    padding: 1px;
}
.btn_copy>a{
    text-decoration: none;
    color:black;
}
.aside{
    width: 70%;
    height: 22%;
    position: absolute;
    left: 17%;
    bottom: -85px;
    z-index: 500000;
}
.laravel{
    width:16%;
    height:100%;
    float:left;
    box-shadow: 0 0 5px silver;
    border-radius:5px;
    background: white;
}
.text-aside{
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    margin:20px auto;
}
.img-aside{
    width: 60%;
    height: 45%;
    margin-left:20%;
    margin-top: -1%;
    text-align: center;
}
.aside_box{
    width:16%;
    height:100%;
    float:left;
    margin-left: 3%; 
    box-shadow: 0 0 3px silver;
    border-radius:5px;
    background: white;
}

.intro{
    width: 100%;
    height: 820px;
    background-color:white;
    margin-top: 10px;
    position: relative;
}
.content_intro{
    width: 80%;
    height: 310px;
    float:left;
    margin-left:15%;
    margin-top: 10%;
}
.text_into{
    width: 43%;
    height: 100%;
    float: left;
}
.img_bg{
    width: 50%;
    height: 100%;
    float:left;
    margin-left:3%;
    background-color:#d0d0d0; 
}

/*Шрифт в content_intro*/

.we_help{
    font-size: 14px;
    color:#a2a2a2;
    text-transform: uppercase;
    line-height:0;
}
.grow_next{
    font-size: 35px;
    line-height:0.9;
}
.heres_why{
    font-size: 18px;
    color:#a2a2a2;
}
.what_do{
    font-size: 14px;
    color:#a2a2a2;
}
button{
    width: 45%;
    padding: 3%;
    background-color: #fed45c;
    border-radius: 50px;
    border:0px;
}
button>a{
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    font-size: 12px;
}

.testimonaisl{
    width: 50%;
    position: absolute;
    bottom:10%;
    left:25%;
    text-align: center;
}

.why_over{
    font-size: 13px;
    text-transform: uppercase;
    color:#555555;
}
.what_do_all{
    font-size: 20px;
    color:#a2a2a2;
}
.tim{
    font-size: 13px;
    text-transform: uppercase;
}

.services{
    width: 100%;
    height: 300px;
    background-color: #fcfcfc;
    border-top:1px solid #eeeeee;
}
.pixel_perfect{
    width:25%;
    height: 60%;
    float:left;
    margin-left: 8%;
    margin-top:50px;
    text-align: center;
}
.seo{
    width:25%;
    height: 60%;
    float:left;
    margin-left: 40px;
    margin-top:50px;
    text-align: center;
}
.dedicated_support{
    width:25%;
    height: 60%;
    float:left;
    margin-left: 40px;
    margin-top:50px;
    text-align: center;
}
.counters{
    width: 100%;
    height: 310px;
    background-image: url(../img/background2.png);
    background-size: cover;
}
.content_counters{
    width: 40%;
    height: 200px;
    float:left;
    margin-left: 53%;
    margin-top: 40px;
}
.some_statistical{
    font-size: 35px;
    color:white;
}
.text_content{
    width: 500px;
    height: 100px;
    margin-top: -20px;
    color:white;
}
.k25{
    width: 150px;
    height: 100%;
    float: left;
    font-size: 38px;
    line-height:0;
}
.content1{
    font-size: 13px;
    text-transform: uppercase;
    line-height:0;
}
.ticket_solved{
    width: 150px;
    height: 100%;
    float: left;
    margin-left: 20px;
    font-size: 38px;
    line-height:0;
}
.content2{
    font-size: 13px;
    text-transform: uppercase;
}
.average{
    width: 150px;
    height: 100%;
    float: left;
    margin-left: 20px;
    font-size: 38px;
    line-height:0;
}
.content3{
    font-size: 13px;
    text-transform: uppercase;
}

/*latest_products*/

.latest_products{
    width: 100%;
    height:750px; 
}
.latest_products_caption{
    width: 30%;
    height:90px;
    margin-left:35%;
    margin-top:12%;
    text-align: center;
    line-height:0;
}

/*Шрифт*/

.latest{
    font-size: 35px;
    color:black;
}
.your_next{
    font-size: 16px;
    color:#838383;
    line-height:1;
}

.content_latest{
    width: 35%;
    height: 52%;
    float:left;
    margin-left:15%;
    margin-top: 50px;
}
.content_latest>a{
    text-decoration: none;
    color:#838383;
    line-height:3;
}
.vanilla{
    font-size: 24px;
    color:black;
    text-transform: uppercase;
}
.what_doall{
    font-size: 14px;
    color:#838383;
    line-height:1.7;
}
.last_update{
    font-size: 12px;
    color:#838383;
    text-transform: uppercase;
    line-height:2.5;
}
.browser_mockup{
    width: 47%;
    height: 441px;
    background-image: url(../img/okno.png);
    background-repeat:no-repeat;
    float:left;
    margin-left:10px;
    margin-top:30px;
    background-size: 100%;
}
.demo{
    background: white;
    width: 30%;
    border:1px solid #838383;
}

.news{
    width: 100%;
    height:890px;
    background-color: #f6f6f6; 
}
.request{
    width:29%;
    height:535px;
    float:left;
    margin-left:3%;
    margin-top:160px;
    box-shadow: 0 0 50px #e5e5e5;
    background-color: white;
}
.content_request{
    width: 80%;
    height: 120px;
    margin-left: 30px;
}
.request_call{
    font-size:24px; 
}
.request_call2{
    font-size: 14px;
}
form{
    margin-left:30px;
    margin-top: 38px; 
}
input{
    width: 85%;
    height: 60px;
}
.type_text{
    font-size: 14px;
}
.btn{
    border-radius: 50px;
    border:none;
    background-color: #fed45c;
    text-transform: uppercase;
    font-size: 14px;
}

.company_new{
    width:65%;
    height:400px;
    float:left;
    margin-left:3%;
    margin-top:120px;
}
.subtitle{
    font-size: 30px;
}
.box{
    width:46%;
    height:320px;
    float: left;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 50px #e5e5e5;
    background-color:#d0d0d0; 
}
.box1-1{
    width:100%;
    height:115px;
    background-color:white;
    margin-top:205px;
    border-radius: 0 0 5px 5px;
}
.content_box{
    width: 80%;
    height:72px;
    float: left;
    margin-left: 30px;
    margin-top: 5px;
}
.boxtext1{
    font-size: 13px;
    text-transform: uppercase;
}
.boxtext2{
    font-size: 16px;
}
.box2{
    width:46%;
    height:320px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 50px #e5e5e5;
    background-color:#d0d0d0;
}
.box2-1{
    width:100%;
    height:115px;
    background-color:white;
    margin-top:205px;
    border-radius: 0 0 5px 5px;
}
.faq{
    width:58%;
    height:250px;
    float:right;
    margin-right:6%;
    margin-top: 50px;
    font-size: 30px;
}
.row1{
    width: 100%;
    height: 41px;
    border-bottom: 1px solid silver;
    font-size: 17px;
    color:#959595;
}
.row2{
    width: 100%;
    height: 41px;
    border-bottom: 1px solid silver;
    font-size: 17px;
    color:#959595;
}
.row3{
    width: 100%;
    height: 41px;
    border-bottom: 1px solid silver;
    font-size: 17px;
    color:#959595;
}
.help_support{
    width: 100%;
    height: 566px;
}
.help_support_caption{
    width:30%;
    height:100px;
    margin-left:35%;
    margin-top:6%;
    text-align: center;
}
.support{
    width: 22%;
    height: 300px;
    float:left;
    margin-left:11%;
    margin-top:50px;
    text-align: center;
    font-size: 16px;
}
.supporttext{
    text-transform: uppercase;
    font-size: 15px;
}
.doctext{
    text-transform: uppercase;
    font-size: 15px;
}
.tutorialstext{
   text-transform: uppercase; 
   font-size: 15px;
}
.btn_support{
    background-color: white;
    border:1px solid silver;
}
.documentation{
     width: 22%;
    height: 300px;
    float:left;
    margin-left:50px;
    margin-top:50px;
    text-align: center;
    font-size: 16px;
}
.tutorials{
    width: 22%;
    height: 300px;
    float:left;
    margin-left:50px;
    margin-top:50px;
    text-align: center;
    font-size: 16px;
}
.btn_tutorials{
    background-color: white;
    border:1px solid silver;
}
footer{
    width: 100%;
    height: 240px;
    background-image: url(../img/footer.png);
     background-size: cover;
}
.links{
    width: 35%;
    height: 50%;
    float: left;
    margin-left: 35%;
    margin-top: 30px;
    text-align: center;
}
.link1{
    float: left;
    margin-left:20%;
}
.link{
    float: left;
    margin-left: 5px;
}